body {
    background-color: rgb(231, 236, 241);
    color: rgb(114, 57, 6);
}

ol li {
    color: rgb(156, 60, 4);

}

.boldHeading {

    font: 800;
    font: x-large;
    color: rgb(255, 255, 255);
}

.mainBox {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    align-self: center;
}

.heading {

    margin-top: 50px;
    text-align: center;
    text-emphasis-style: bold;
    font-size: xx-large;

}

h2, h3 {
    text-align: center;
    
}
© 2019 GitHub